.outroPic {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #777777;
}

a {
    text-decoration: none;
}

.link2 {
    position: absolute;
    top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.linkContainer2 {
    border-radius: 0 0 1em 1em;
    background-color: rgba(0,0,0,.5);
    padding: 3em 1em 2em;
}

.linkContainer2 img {
    transform: rotate(180deg);
}