.contact {
    display: inline-block;
    background-color: white;
    margin-right: 1em;
    height: 20em;
    padding: 1em 2em;
    width: 35em;
    border-radius: .5em;
}

.contact h2 {
    font-family: 'Open Sans' sans-serif;
}

.contact p {
    margin: 0;
}