.cluster-marker {
    cursor: pointer;
    transform: rotate(-90deg) ;
}

.cluster-marker:hover {
    transform: scale(1.1) rotate(-90deg);
    transition: 100ms;
}

h1 {
    font-size: 2em;
}

.cross {
    position: absolute;
    left: 1.5em;
    top: 1.5em
}

.location {
    color: white;
    width: 100%;
    text-align: center;
}

.tutorial {
    background-color: white;
    display: inline-block;
    padding: .5em 2em;
    transform: skew(20deg);
    position: absolute;
    right: 6em;
    top: 17em;
    box-shadow: 0px 0px 10px black;
}

.tutorial h3 {
    transform: skew(-20deg);
}