.cluster-marker {
    cursor: pointer;
}

.cluster-marker:hover {
    transform: scale(1.1);
    transition: 100ms;
}

h1 {
    font-size: 2em;
}

.cross {
    position: absolute;
    left: 1.5em;
    top: 1.5em
}

.location {
    color: white;
    width: 100%;
    text-align: center;
}