.mapInfo {
    width: 27em;
    height: fit-content;
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
}

.mapInfo h1 {
    width: 100%;
    margin: 0;
    font-size: 8em;
    color: #31A3DD;
}

.mapInfo h2 {
    font-size: 2.1em;
}

.mapInfo h2:first-of-type {
    margin-bottom: -.3em;
}

.mapInfo h2:nth-of-type(2) {
    margin-top: -.3em;
    margin-bottom: 1em;
}

.mapInfo p {
    width: 27em;
}

.mapInfo a {
    background-color: #FF6600;
    padding: 1em;
    color: white;
    font-family: 'Open Sans' sans-serif;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}