.more {
    display: inline-block;
    background-color: white;
    margin-left: 1em;
    height: 23em;
    padding: 1em 2em;
    width: 35em;
    border-radius: .5em;
}

.meerInfo {
    background-color: #31A3DD;
    color: white;
    padding: .3em .5em;
    
}

.more p:nth-of-type(3) {
    margin-bottom: 0;
    margin-top: 3em;
}

.more p:nth-of-type(4) {
    margin-top: 0;
}

.meerInfo::before {
    content: '+';
    background-color: white;
    color: #31A3DD;
    font-weight: bold;
    padding: 0 .2em;
    border-radius: 50%;
    margin-right: .5em;
    text-align: center;
}