.more {
    display: inline-block;
    background-color: white;
    margin-left: 1em;
    height: 20em;
    padding: 1em 2em;
    width: 35em;
    border-radius: .5em;
}

.more a {
    background-color: #31A3DD!important;
}